body {
    background-color: #fff2cc; /* Fundo amarelo claro */
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    text-align: center;
    margin-left: 5px;
}

.logo {
    width: 250px;
    margin-right: 40px;
    margin-bottom: 30px;
}

/* Campos de entrada */
.input {
    display: block;
    margin: 10px auto;
    padding: 12px;
    width: 200px;
    border: none;
    border-radius: 10px;
    background-color: #b30000; /* Vermelho escuro */
    color: #fff;
    font-size: 16px;
    text-align: center;
}

.input::placeholder {
    color: #ffcc66; /* Amarelo suave */
}

/* Botão entrar */
.btn {
    background-color: #b30000;
    color: #fff2cc;
    border: none;
    border-radius: 5px;
    padding: 10px 25px;
    font-weight: bold;
    cursor: pointer;
    margin-top: 10px;
}

.btn:hover {
    background-color: #cc0000;
}

/* Link de esqueci a senha */
.link {
    display: block;
    color: #b30000;
    font-weight: bold;
    margin-top: 20px;
    text-decoration: none;
}

.link:hover {
    text-decoration: underline;
}
